* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
    color: #000;
    text-align: center;
}

a {
    padding: 0 1.7vmax;
}

p:hover {
    cursor: default;
}

.toplbt {
    width: 44vmax;
}

.social {

}

.white {
    color: #FFF;
    text-decoration: none;
}

.white:hover {
  color: pink;
}

.black {
    color: #000;
    text-decoration: none;
}

.black:hover {
  color: green;
}

.footer {
    font-family: arial;
    font-size: 18px;
    color: #FFF;
    text-shadow: 0.5px -0.5px #000, 1px -1px #000, 1.5px -1.5px #000, 2px -2px #000, 2.5px -2.5px #000, 3px -3px #000, 3.5px -3.5px #000;
}

#bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #000;
    z-index: -1;
}
